<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mysecondvsappfunctionjd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/681acdf4-5669-46e8-a3db-3bc180a85ce2/resourceGroups/ViewNext2022/providers/Microsoft.Web/sites/MySecondVSAppFunctionJD</ResourceId>
    <UserName>$MySecondVSAppFunctionJD</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mysecondvsappfunctionjd.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>